* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #63ff3c;
  width: 100%;
  height: 100vh;
}
header {
  background-color: #ffff16;
  height: 8vh;
  border-bottom: 2px solid #000;
}
h1 {
  padding-top: 8px;
  color: #000;
  text-align: center;
  font-weight: 900;
}

#form-top {
  margin-top: 20px;
  text-align: center;
}
label {
  border-bottom: none;
  font-size: 20;
  font-weight: 600;
}
input {
  border: 2px solid #1e4b00;
  border-radius: 5px;
  padding: 3px;
  background-color: #e4e4e4;
  font-weight: bold;
}
select {
  border: 2px solid #1e4b00;
  border-radius: 5px;
  padding: 3px;
  background-color: #e4e4e4;
  font-weight: bold;
}
label:hover {
  border-bottom: 2px solid black;
}
.button {
  margin-top: 10px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

button {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: #1313f8;
  cursor: pointer;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
}

button:hover {
  background-color: #3965f5;
}
ul {
  margin-top: 5vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
li {
  font-size: 16px;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
}
h2 {
  margin: 10px 0 0 10px;
  text-align: center;
  color: #000;
  font-weight: 900;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #ffff16;
  border-bottom: 2px solid #000;
  border-top: #000 solid 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer > form {
  margin-top: 5px;
  margin-bottom: 8px;
}
footer > button {
  width: 75px;
  margin-bottom: 10px;
}

@media (max-width: 780px) {
  #form-top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  select {
    width: 190px;
  }
}
@media (max-width: 311px) {
  footer > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
